/* untuk tablet */
@media all and (max-width: 1000px) {
  .team-a {
    width: 100%;
    margin-bottom: 50px;
  }

  .team-b {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .team-icon img {
    width: 50%;
  }

  .team-media a img {
    padding-top: 2%;
    padding-right: 10px;
    width: 20px;
    text-decoration: none;  
  }

  .name {
    font-size: 40px;
  }

  .text-contents {
    font-size: 25px;
  }

  .heading h1 {
    font-size: 50px;
  }

  /*tampilan responsive utk footer*/
 
}

/* untuk smartphone */
@media all and (max-width: 670px) {
  .team-a {
    width: 100%;
  }
  .team-b {
    width: 100%;
    margin-left: 0;
  }
  .text-contents {
    width: 100%;
    font-size: 20px;
  }

  .team-icon img {
    width: 75%;
  }

  .name {
    font-size: 25px;
  }

  .text-contents {
    font-size: 17px;
  }

  .team-media a img {
    padding-top: 2%;
    padding-right: 10px;
    width: 40px;
    text-decoration: none;  
  }

  .heading h1 {
    font-size: 40px;
  }

  footer {
 	height: 150px;
	padding-top: 75px;
	margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
#nav-content {
	height: 100%;
}
